.bg
.content.center
  .title
    .center-text Outside from the Inside
  .row
    .col-md
      .left-info.hover-inset
        .temperature  
        %button.btn.btn-outline-light Convert Units
    .col-md
      .right-info.hover-inset
        .center-text
          .description
          .location
  .details
    .expand
      .fas.fa-3x.fa-angle-down
    .extra
      .row
        .col-md-3.offset-md-3
          %p.head Latitude
          %p.info.lat
        .col-md-3
          %p.head Longitude
          %p.info.lon 
      .row
        .col-md
          %p.head Wind Speed
          %p.info.ws 
        .col-md
          %p.head Wind Direction
          %p.info.wd 
        .col-md
          %p.head Humidity
          %p.info.hum 
        .col-md
          %p.head Pressure
          %p.info.pres 