.container-fluid
  #info.location
    %form{:action => ""}
      .title 
        .center-text WikiView
      %input{:type => "text",
             :placeholder => "Search",
             :autocomplete => "off",
             :id => "searchBar",
             :class => "center"}
      .rand 
        .center-text 
          %a{:href => "https://en.wikipedia.org/wiki/Special:Random",
             :target => '_blank'} or try your luck.
      %input{:type => "submit",
             :style => "display: none"}
  - (0..6).each do |i|
    .row
      -(1..3).each do |j|
        %a.col-md.inv{:href => "#" ,
                      :target => "_blank",
                      :id => "result#{j+(i*3)}"}
          %div.sub 
          %div.desc
  %footer